*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #F1F1F8;
  color: #222;
  font-family: sans-serif;
}

.graphicsCardList{
  width: 90vw;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media (min-width: 768px){
  .graphicsCardList{
    grid-template-columns: repeat(3, 1fr);
  }
}

.graphicsCard{
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.graphicsCard img {
  height: 200px;
  width: 200px;
}

.graphicsCard h2{
  margin-top: 0.5rem;
}

.graphicsCard h4{
  margin-top: 0.5rem;
  color: #617D98;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  letter-spacing: 0.1rem
}